#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 0.5rem;
}

.colour-display {
  margin:  0.5rem auto 1rem auto;
  padding: 10px;
  background: #FFF;
  width: 70vw;
  height: 5vw;
  border-radius: 8px;
}

p {
  font-size: 0.75rem;
  margin: 0.5rem 0;
  font-weight: bold;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
